body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1381.5px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:354px;
  top:-256px;
  width:774px;
  height:1281px;
  -webkit-transform:rotate(270deg);
  -moz-transform:rotate(270deg);
  -ms-transform:rotate(270deg);
  transform:rotate(270deg);
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:774px;
  height:1281px;
}
#u1 {
  position:absolute;
  left:2px;
  top:632px;
  width:770px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:250px;
  top:47px;
  width:1020px;
  height:676px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1020px;
  height:676px;
}
#u3 {
  position:absolute;
  left:174px;
  top:330px;
  width:672px;
  visibility:hidden;
  -webkit-transform:rotate(270deg);
  -moz-transform:rotate(270deg);
  -ms-transform:rotate(270deg);
  transform:rotate(270deg);
  word-wrap:break-word;
  transform-origin:336px 8px;
  -ms-transform-origin:336px 8px;
  -moz-transform-origin:336px 8px;
  -webkit-transform-origin:336px 8px;
}
#u4 {
  position:absolute;
  left:-108px;
  top:366px;
  width:677px;
  height:40px;
  -webkit-transform:rotate(270deg);
  -moz-transform:rotate(270deg);
  -ms-transform:rotate(270deg);
  transform:rotate(270deg);
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:677px;
  height:40px;
}
#u5 {
  position:absolute;
  left:2px;
  top:12px;
  width:673px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:1170px;
  top:680px;
  width:90px;
  height:30px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-size:18px;
  color:#FFFFFF;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
}
#u7 {
  position:absolute;
  left:2px;
  top:3px;
  width:86px;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:1170px;
  top:78px;
  width:80px;
  height:25px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  color:#FFFFFF;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:35px;
}
#u9 {
  position:absolute;
  left:2px;
  top:3px;
  width:76px;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:454px;
  top:72px;
  width:600px;
  height:40px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-size:18px;
  color:#FFFFFF;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:610px;
  height:50px;
}
#u11 {
  position:absolute;
  left:2px;
  top:8px;
  width:596px;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:700px;
  top:256px;
  width:180px;
  height:24px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:24px;
}
#u13 {
  position:absolute;
  left:2px;
  top:4px;
  width:176px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:764px;
  top:284px;
  width:60px;
  height:22px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-size:16px;
  color:#3366FF;
  text-align:center;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:22px;
}
#u15 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  word-wrap:break-word;
}
